name: PR Auto Labeler

on:
    pull_request_target:
        types: [opened, synchronize, reopened]

permissions:
    contents: read
    pull-requests: write

jobs:
    label:
        runs-on: ubuntu-latest
        steps:
            - name: Automatic labeling
              uses: actions/labeler@v6
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
                  sync-labels: true
                  configuration: |
                      # Rust files
                      rust:
                        - changed-files:
                            - any-glob-to-any-file:
                                - '**/*.rs'

                      # JavaScript / TypeScript
                      javascript:
                        - changed-files:
                            - any-glob-to-any-file:
                                - '**/*.js'
                                - '**/*.ts'

                      # Vue
                      ui:
                        - changed-files:
                            - any-glob-to-any-file:
                                - '**/*.vue'

                      # Build / config files
                      configuration:
                        - changed-files:
                            - any-glob-to-any-file:
                                - 'vite.config.ts'
                                - 'vitest.config.ts'
                                - 'tsconfig.*.json'
                                - 'src-tauri/tauri.conf.json'

                      # Dependency files
                      dependencies:
                        - changed-files:
                            - any-glob-to-any-file:
                                - 'package.json'
                                - 'yarn.lock'
                                - 'src-tauri/Cargo.toml'
                                - 'src-tauri/Cargo.lock'

                      # Test files
                      tests:
                        - changed-files:
                            - any-glob-to-any-file:
                                - 'src/tests/**/*'

                      # Branch prefixes
                      feature:
                        head-branch:
                          - '^feat(/.*|$)'
                          - '^feature(/.*|$)'

                      hotfix:
                        head-branch:
                          - '^hotfix(/.*|$)'
                          - '^fix(/.*|$)'
