name: PR Auto Labeler

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-labeler
    cancel-in-progress: true

on:
    pull_request_target:
        types: [opened, synchronize, reopened]

permissions:
    contents: read
    pull-requests: write

jobs:
    label:
        runs-on: ubuntu-latest
        steps:
            - name: Automatic labeling
              uses: actions/labeler@v6
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
                  sync-labels: true
                  configuration-path: .github/labeler.yml
