name: "Rust Tests"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-rust-test
    cancel-in-progress: true

on:
    workflow_call:
    pull_request:
    workflow_dispatch:

permissions:
    contents: read
    actions: read

jobs:
    clippy:
        uses: ./.github/workflows/run-clippy.yml

    rust-tests:
        name: Run Rust Tests
        runs-on: ubuntu-latest
        needs:
            - clippy

        steps:
            - uses: actions/checkout@v4

            - name: Install Ubuntu deps
              run: |
                  sudo apt-get update
                  sudo apt-get install -y \
                    libwebkit2gtk-4.1-dev \
                    libappindicator3-dev \
                    librsvg2-dev \
                    patchelf

            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable

            - name: Run Tests
              run: cargo test
              working-directory: src-tauri
