name: "Frontend Tests"

on:
    workflow_call:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read
    actions: read

jobs:
    vitest:
        name: Run Vitest Tests
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*
                  cache: yarn

            - name: Install dependencies
              run: yarn install --frozen-lockfile

            - name: Run Vitest
              run: yarn vitest run
